<div class="container">

    <div class="row">
        <div class="col-md-12 text-center mt-5 mb-5">
            <h1> Sejam bem vindes ao Hortfrut Estevam</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 mb-5 ">
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, ut quasi, repellendus similique ad vitae
                nobis mollitia deleniti adipisci inventore aut! Nulla cupiditate vitae non magni! Quam officiis facere
                excepturi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo eum, nisi, facere natus id
                tempora dicta hic atque maxime quibusdam ad placeat quis esse enim expedita soluta fugiat aliquid quas!
            </p>
        </div>

    </div>
</div>

    <div class="parallax"></div>

    <div class="row mb-5 mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink = '/loja'>Ir para Loja</button>
        </div>

    </div>

